<section id="city-snapshort">
  <div class="container">
    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Ahmedabad.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Ahmedabad</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>


    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Gurugram.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Gurugram</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>


    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Pune.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Pune</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Chennai.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Chennai</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Manali.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Manali</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Hyderabad.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Hyderabad</h2>
        <p (click)="selectedCity()">HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Kolkata.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Kolkata</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Jaipur.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Jaipur</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Shimla.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Shimla</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Delhi.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Delhi</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>




    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Mumbai.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Mumbai</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Goa.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Ahmedabad</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>



    <div class="card">
      <div class="img-content">
        <img src="assets/city-snapshort/Ahmedabad.jpg" alt="City Image" width="300" height="200">
      </div>
      <div class="card-content">
        <h2 (click)="selectedCity()">Ahmedabad</h2>
        <p (click)="selectedCity()">HotelHotelHotel HotelHotelHotel HotelHotelHotel</p>
      </div>
    </div>
  </div>
</section>
<hr>
<section>
  <app-residence-carousel-component></app-residence-carousel-component>
</section>