<main>
    <div class="flex-left">
        <div>
            <h1>Residence List</h1>
            <input matInput (keyup)="applyResidenceListFilter($event)" placeholder="Search Here!"/>
        </div>
        <div>
            <table mat-table matSort [dataSource]="residenceListDataSource" class="residence-list-table">
                <ng-container matColumnDef="residenceName">
                    <th mat-header-cell *matHeaderCellDef><strong>Residence Name</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.residenceName}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="residenceListTableColumns"></tr>
                <tr mat-row (click)="getResidenceListTableRow(row)" [class.demo-row-is-clicked]="residenceLisTableRow.has(row)"
                    *matRowDef="let row; columns: residenceListTableColumns;">
                </tr>
            </table>
        </div>
    </div>
    <div class="flex-right">
        <div class="flex-box">
            <div class="flex-box-group search">
                <input matInput (keyup)="applyResidenceFilter($event)" placeholder="Search Here!" #input />
            </div>
            <div class="flex-box-group add-partner"><button (click)="addPartner()"><strong>Add Partner</strong></button>
            </div>
        </div>
        <div class="flex-box">
            <table mat-table matSort [dataSource]="residenceDataSource" class="residence-table">
                <ng-container matColumnDef="residenceId">
                    <th mat-header-cell *matHeaderCellDef><strong>Residence-Id</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.residenceId}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="residenceName">
                    <th mat-header-cell *matHeaderCellDef><strong>Residence Name</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.residenceName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="residenceType">
                    <th mat-header-cell *matHeaderCellDef><strong>ResidenceType</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.residenceType}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="residenceLocation">
                    <th mat-header-cell *matHeaderCellDef><strong>Location</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.residenceLocation}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <select [(ngModel)]="element.isActive" [style.color]="element.isActive ? 'blue' : 'red'"
                            (change)="onStatusChange(element)" style="cursor: pointer; outline: none; border: none; background-color: #d3e3fd;
                    border-radius: 3px; padding: 5px;">
                            <option [ngValue]="true" style="color: rgb(0, 16, 245);">Enable</option>
                            <option [ngValue]="false" style="color: red;">Disable</option>
                        </select>
                    </td>
                </ng-container>
                <ng-container matColumnDef="property">
                    <th mat-header-cell *matHeaderCellDef><strong>Property Service</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <select id="residenceDialogRefSet" #residenceDialogRefSet (change)="onResidenceSelectionChange(residenceDialogRefSet,element.residenceId)" style="cursor: pointer; outline: none; border: none; background-color: #d3e3fd;
                    border-radius: 3px; padding: 5px;">
                            <option value="0" selected style="color: red;">Selection-None</option>
                            <option value="1">Residence Agreement Service</option>
                            <option value="2">Residence Image Service</option>
                            <option value="3">Residence Amenity Service</option>
                            <option value="4">Residence Location Service</option>
                            <option value="5">Residence Rooms Service</option>
                        </select>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef><strong>Actions</strong></th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <span class="delete-btn" (click)="deletePartner(element.residenceId)">Delete</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef><strong>View/Edit</strong></th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <span class="edit-btn" (click)="updatePartner(element)">View/Edit</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="residenceTableColumns"></tr>
                <tr mat-row (click)="getResidenceTableRow(row)" [class.demo-row-is-clicked]="residenceTableRow.has(row)"
                    *matRowDef="let row; columns: residenceTableColumns;">
                </tr>
            </table>
        </div>
        <div class="flex-box">
        <h1>Rooms Service Works!</h1>
        </div>

        <div class="flex-box">
            <br><br>
            
            <table mat-table matSort [dataSource]="roomsDataSource" class="residence-rooms-table">
                <ng-container matColumnDef="roomId">
                    <th mat-header-cell *matHeaderCellDef><strong>Room-Id</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.roomId}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="roomType">
                    <th mat-header-cell *matHeaderCellDef><strong>Room Type</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.roomType}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="roomAvailability">
                    <th mat-header-cell *matHeaderCellDef><strong>Availability</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.roomAvailability}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="roomPrice">
                    <th mat-header-cell *matHeaderCellDef><strong>Price</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.roomPrice}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="roomTradingPrice">
                    <th mat-header-cell *matHeaderCellDef><strong>Trading Price</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.roomTradingPrice}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="roomDiscount">
                    <th mat-header-cell *matHeaderCellDef><strong>Discount Price</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.roomDiscount}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="property">
                    <th mat-header-cell *matHeaderCellDef><strong>Property Service</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <select id="roomDialogRefSet" #roomDialogRefSet (change)="onRoomSelectionChange(roomDialogRefSet,element.roomId)" style="cursor: pointer; outline: none; border: none; background-color: #d3e3fd;
                    border-radius: 3px; padding: 5px;">
                            <option value="0" selected style="color: red;">Selection-None</option>
                            <option value="1">Rooms Image Service</option>
                            <option value="2">Rooms Amenity Service</option>
                        </select>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef><strong>Actions</strong></th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <span class="delete-btn" (click)="deleteRoom(element.roomId)">Delete</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef><strong>View/Edit</strong></th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <span class="edit-btn" (click)="updateRoom(element)">View/Edit</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="roomsTableColumns"></tr>
                <tr mat-row (click)="getRoomsTableRow(row)" [class.demo-row-is-clicked]="roomsTableRow.has(row)"
                    *matRowDef="let row; columns: roomsTableColumns;">
                </tr>
            </table>
        </div>
    </div>
</main>