<hr style="background-color: rgb(250, 226, 198);height: 1px;border: 0;">
<div class="footer-container">
    <div class="footer-top-main-section">
        <div class="footer-top-main-section-title">Categories</div>
        <div class="footer-top-main-section-items">Organic and Natural Products</div>
    </div>
    <div class="footer-top-main-section">
        <div class="footer-top-main-section-title">Customer Account</div>
        <div class="footer-top-main-section-items">My Account</div>
        <div class="footer-top-main-section-items">My Orders</div>
        <div class="footer-top-main-section-items">Wishlist</div>
        <div class="footer-top-main-section-items">Payment Methods</div>
        <div class="footer-top-main-section-items">Delivery Addresses</div>
    </div>
    <div class="footer-top-main-section">
        <div class="footer-top-main-section-title">Help & Support</div>
        <div class="footer-top-main-section-items">About Us</div>
        <div class="footer-top-main-section-items">FAQ</div>
        <div class="footer-top-main-section-items">Terms $ Conditions</div>
        <div class="footer-top-main-section-items">Cancellation & Return Police</div>
        <div class="footer-top-main-section-items">Ahipping & Delivery Policy</div>
    </div>
    <div class="footer-top-main-section">
        <div class="footer-top-main-section-title">Contact Us</div>
        <div class="footer-top-main-section-items">WhatApp +91 8906664868</div>
        <div class="footer-top-main-section-items">
            Contact Us &#64; +91 8906664868 <br>
            Contact Us &#64; +91 9046293740
        </div>
        <div class="footer-top-main-section-items">E-mail: ecotusholidays&#64;gmail.com</div>
    </div>

    <div class="footer-bottom">
        <div><img src="assets\Image\logo.png">© 2018 All rights reserved. VEGAN </div>
        <div>Best viewed on Microsoft Edge 81+, Mozilla Firefox 75+,Google Chrome 80+</div>
    </div>
</div>