<app-hero-component></app-hero-component>
<section class="sort-search-filter-group">
    <hgroup class="resources-info">
        <p>Hotel > Stunning bamboo tree house in cat garden</p>
        <p>1-16 of results found</p>
    </hgroup>

    <div class="sort-search-filter">

        <section class="search flex width-50 column justify-content-center align-items-center">
            <input class=" padding-1rem !border-red font-size-108rem" type="text" placeholder="Search here">
        </section>

        <div class="sort-filter">
            <section class="filter">
                <button>Filter</button>
            </section>
            <section class="sort-by-price">
                <button>Price</button>
            </section>
            <section class="sort-by">
                <label for="sort-by">Sort by:</label>
                <select id="sort-by">
                    <option value="featured">Featured</option>
                    <option value="price-low-high">Price: Low to High</option>
                    <option value="price-high-low">Price: High to Low</option>
                    <option value="rating">Customer Rating</option>
                </select>
            </section>
        </div>
    </div>
</section>


<section class="card-with-filter">
    <aside class="aside-filter !align-items-center">
        <div class="flex column  margin-left-1rem !border-red">
            <h3>Graphics Coprocessor</h3>
            <ul >
                <li>
                    <label class=" flex align-items-center" for=""><input type="checkbox"><span
                            class="margin-left-01rem !border-red">INVIDIA INVIDIA INVIDIA</span></label>
                </li>
                <li>
                    <label class=" flex align-items-center" for=""><input type="checkbox"><span
                            class="margin-left-01rem !border-red">INVIDIA INVIDIA INVIDIA</span></label>
                </li>
                <li>
                    <label class=" flex align-items-center" for=""><input type="checkbox"><span
                            class="margin-left-01rem !border-red">INVIDIA INVIDIA INVIDIA</span></label>
                </li>
                <li>
                    <label class=" flex align-items-center" for=""><input type="checkbox"><span
                        class="margin-left-01rem !border-red">INVIDIA INVIDIA INVIDIA</span></label>
                </li>
            </ul>
           
        </div>
    </aside>

    <div class="card-list">
        <div class="product-card" (click)="selectedResidence()">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=1" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi</h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=1" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi</h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=2" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi</h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=3" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi</h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=4" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi sfd gfghfg dfhjhfjgkhkhhk </h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=5" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi</h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="https://picsum.photos/900/900?random=6" alt="Laptop 1">
            </div>
            <div class="product-info">
                <div class="rating">
                    <span class="rating-text">Very Good</span>
                    <span class="rating-number">3.5</span>
                    <span class="reviews">(648 reviews)</span>
                </div>
                <h3>The Golden Palms Hotel And Spa Delhi dhreht gfdfdfd </h3>
                <p class="location">Ip Extension</p>
                <p class="price">₹ 2589 per night per night</p>
                <p class="additional-info">+ ₹ 343 Taxes & Fees</p>
            </div>
        </div>
    </div>
</section>