<div class="container">
    <nav>
        <div class="flex-box-left">
            <div class="flex-box-items ">
                <span (click)="menue()"><i class="fa-solid fa-bars " style="font-size: 2.1rem;"></i></span>
            </div>
        </div>
        <div class="flex-box-middle">
            <div class="flex-box-items ">
                <span (click)="home()"><img src="../../assets/hero-bg/1.jpeg" alt="">&nbsp;ozobooking.com
                </span>
            </div>
        </div>

        <div class="flex-box-right">
            <div class="flex-box-items" style="align-items: flex-end; ">
                <span><i class="fa-solid fa-bell"></i>0</span>
            </div>
            <div class="flex-box-items">
                <span (click)="confirmLogout()" (click)="loginLogout()"><i class="fa-solid fa-user-tie"></i>&nbsp;
                    {{isLoggedIn?'Sign-out':'Sign-in'}}</span>
            </div>
                <div *ngIf="logoutFlag" >
                    <p>Are you sure you want to log out?</p>
                    <button (click)="loginLogout()">Delete</button>
                    <button (click)="logoutFlag = false">Cancel</button>
                </div>

        </div>
    </nav>
</div>