<div class="
dialog-content 
width-100 
flex
border-radius-5 
margin-top-0 
margin-bottom-0 
margin-left-auto 
padding-20 
margin-right-auto 
column 
justify-content-center 
overflow-auto">
    <div class="align-self-flex-end margin-bottom-20" mat-dialog-close>
        <span class=" flex flex-wrap-nowrap close-btn padding-inline-25 padding-block-2  cursor-pointer 
        justify-content-center align-items-center font-size-102  border-radius-2 ">X</span>
    </div>
    <header>
        <div>
            <h2 class="
            flex 
            justify-content-center 
            margin-bottom-20 
            residence-heading">Rooms AmenitiesService Works!</h2>
        </div>
    </header>
    <main>
        <form class="
    flex 
    flex-wrap 
    !border-red
    margin-bottom-20  
    gap-10 
    justify-content-space-evenly 
    width-100" [formGroup]="amenitiesForm" name="xx">
            <!-- style="display: none;" -->
        <!-- <div class="
        flex 
        column  
       form-element-width
        padding-5 
        justify-self-space-around  
        !border-red  
        position-relative ">
                <label class="width-100" for="autoId">Auto Selected Id:
                    <span
                        *ngIf="amenitiesForm.get('roomAmen_refId')?.invalid && amenitiesForm.get('roomAmen_refId')?.touched"
                        class="error-message">
                        {{ getIdError('roomAmen_refId') }}
                    </span>
                    <input class="width-100" type="text" id="autoId" formControlName="roomAmen_refId" readonly>
                </label>
            </div> -->
            <div class="
            flex 
            column  
           form-element-width
            padding-5 
            justify-self-space-around  
            !border-red" id="child-AmenitiesGroup">
                <label class="width-100" for="amenitiesGroupInput">Enter or Select Amenities Group:
                    <span
                        *ngIf="amenitiesForm.get('roomAmenGroupName')?.invalid && amenitiesForm.get('roomAmenGroupName')?.touched"
                        class="error-message">
                        {{ getTextError('roomAmenGroupName') }}
                    </span>
                    <input class="width-100 flex column" type="text" id="amenitiesGroupInput" formControlName="roomAmenGroupName"
                        [(ngModel)]="roomAmenGroupName" (keydown)="toggleAmenitiesGroup(true)"
                        (keyup)="toggleAmenitiesGroup(false)" (click)="toggleAmenitiesGroupOnClick()">

                    <select   class="width-100 flex column" id="amenitiesGroupSelect" #GroupSelect
                        (change)="selectionAmenitiesGroup(GroupSelect)"
                        [style.display]="isAmenitiesGroup ? 'block' : 'none'">
                        <option value="">Select Detail</option>
                        <option *ngFor="let amentity of amenitiesGroupList" [value]="amentity.group">
                            {{ amentity.group }}
                        </option>

                    </select>
                </label>
            </div>
            <div class="
            flex 
            column  
           form-element-width
            padding-5 
            justify-self-space-around  
            !border-red  
            position-relative " id="child-AmenitiesType">
                <label class="width-100" for="amenitiesTypeInput">Enter or Select Amenities Type:
                    <span
                        *ngIf="amenitiesForm.get('roomAmenType')?.invalid && amenitiesForm.get('roomAmenType')?.touched"
                        class="error-message">
                        {{ getTextError('roomAmenType') }}
                    </span>
                    <input class="width-100" id="amenitiesTypeInput" formControlName="roomAmenType">
                </label>
            </div>
            <div class="
            flex 
            column  
           form-element-width
            padding-5 
            justify-self-space-around  
            !border-red  
            position-relative " id="child-AmenitiesDetails">
                <label class="width-100" for="amenitiesDetailsInput">Description:
                    <span
                        *ngIf="amenitiesForm.get('roomAmenDetails')?.invalid && amenitiesForm.get('roomAmenDetails')?.touched"
                        class="error-message">
                        {{ getTextError('roomAmenDetails') }}
                    </span>
                    <input class="width-100" type="text" id="amenitiesDetailsInput" formControlName="roomAmenDetails">
                </label>
            </div>
            
            <div id="child-AmenitiesDetails"
                class="flex 
                column  
                form-element-width
                padding-5 
                justify-self-space-around  
                !border-red padding-top-20">
                <button class="padding-block-5 padding-inline-16 border-none border-radius-4 cursor-pointer submit-btn" type="button" (click)="formSubmit()">Add Amenities</button>
            </div>
        </form>
        <div class="overflow-x-auto   overflow-y-auto table-wrapper">
            <table mat-table matSort [dataSource]="dataSource" class="residence-table">
                <ng-container matColumnDef="roomAmenGroupName">
                    <th mat-header-cell *matHeaderCellDef><strong>Amenities-Group </strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="text" [(ngModel)]="element.roomAmenGroupName">
                        <div *ngIf="!element.roomAmenGroupName || element.roomAmenGroupName.trim().length === 0"
                            class="error-message">Amenities Group is required.</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="roomAmenType">
                    <th mat-header-cell *matHeaderCellDef><strong>Amenities-Type </strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="text" [(ngModel)]="element.roomAmenType">
                        <div *ngIf="!element.roomAmenType || element.roomAmenType.trim().length === 0"
                            class="error-message">
                            Amenities Type is required.</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="roomAmenDetails">
                    <th mat-header-cell *matHeaderCellDef><strong>Amenities Details</strong></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <input type="text" [(ngModel)]="element.roomAmenDetails">
                        <div *ngIf="!element.roomAmenDetails || element.roomAmenDetails.trim().length === 0"
                            class="error-message">Amenities Details is required.</div>

                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef
                        style="text-align: center; align-items: center;justify-content: center;">
                        <strong>Actions</strong>
                    </th>
                    <td mat-cell *matCellDef="let element; let i=index">
                        <span class="
                        cursor-pointer 
                        margin-2  
                        margin-right-30 
                        padding-5 
                        border-radius-5 
                        font-size-09 
                        update-btn" (click)="updateAmenities(element)">Update</span>

                        <span class="
                        cursor-pointer 
                        margin-2 
                        margin-left-30 
                        padding-5 
                        border-radius-5 
                        font-size-09 
                        delete-btn"  (click)="showConfirmDelete()" (click)="deleteAmenities(element.roomAmenDetailId)">Delete</span>
                        <div *ngIf="showDeleteConfirmation" class="confirmation-modal">
                            <button  (click)="deleteAmenities(element.roomAmenDetailId)">Delete</button>
                            <button (click)="showDeleteConfirmation = false">Cancel</button>
                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumns;">
                </tr>
            </table>
        </div>
    </main>
</div>