<div class="custom-dialog-content " md-dialog-content>

    <main class="bg-primary">

        <form class="container bg-secondary" [formGroup]="userForm" (ngSubmit)="formSubmit()" autocomplete="off" >
            <div class="close-btn" mat-button mat-dialog-close>
                <span class="close-hover">x</span>
            </div>
            <h1 class="accent">Residence Update Works</h1>

            <div class="flex-col">
                <label for="residenceName">Residence Name:
                    <span *ngIf="userForm.get('residenceName')?.invalid&&userForm.get('residenceName')?.touched"
                        class="error-message">
                        {{ getResidenceNameError('residenceName') }}
                    </span>
                    <input type="text" formControlName="residenceName" name="residenceName" id="residenceName"
                        placeholder="e.g. Mountain View Lodge">
                </label>
            </div>
            <div class="flex-col">
                <label for="">Residence Type:
                    <span *ngIf="userForm.get('residenceType')?.invalid&&userForm.get('residenceType')?.touched"
                        class="error-message">
                        {{ getResidenceTypeError('residenceType') }}
                    </span>
                    <select name="" formControlName="residenceType" id="">
                        <option value="Hotel">Hotel</option>
                        <option value="Home Stay">Home Stay</option>
                        <option value="Cottage">Cottage</option>
                    </select>
                </label>
            </div>
            <div class="flex-col">
                <span *ngIf="userForm.get('city')?.invalid&&userForm.get('city')?.touched"
                    class="error-message">
                    {{ getCityError('city') }}
                </span>
                <label for="city">City:
                    <input type="text" formControlName="city" name="city"
                        id="city" placeholder="e.g. City Center">
                </label>
            </div>



            <div class="flex-col">
                <label for="residenceAddress">Address:
                    <span *ngIf="userForm.get('residenceAddress')?.invalid&&userForm.get('residenceAddress')?.touched"
                        class="error-message">
                        {{ getAddressError('residenceAddress') }}
                    </span>
                    <textarea id="residenceAddress" formControlName="residenceAddress" name="residenceAddress" rows="4"
                        placeholder="e.g. 123 Main Street, City"></textarea>
                </label>
            </div>
            <div class="flex-col">
                <button class="bg-accent btn-sign-up">Update</button>
            </div>

        </form>

    </main>


</div>