<main class="bg-primary">
    <form action="" class="container bg-secondary">
        <h1 class="accent">Sign Up</h1>

        <div class="flex-col">
            <label for="">User Name:
                <input type="text" name="" id="" placeholder="e.g. jhon">
            </label>
        </div>
        <div class="flex-col">
            <label for="">Email:
                <input type="email" name="" id="" placeholder="e.g. example@gmail.com">
            </label>
        </div>
        <div class="flex-col">
            <label for="">Phone No.:
                <input type="text" name="" id="" placeholder="e.g. 8670731872">
            </label>
        </div>
        <div class="flex-col">
            <label for="">Password:
                <input type="password" name="" id="" required>
            </label>
        </div>
        <div class="flex-col">
            <label for="">Confirm Password:
                <input type="password" name="" id="" required>
            </label>
        </div>

        <div class="flex-col">
            <label for="">Residence Name:
                <input type="text" name="" id="" placeholder="e.g. Mountain View Lodge">
            </label>
        </div>
        <div class="flex-col">
            <label for="">Residence Type:
                <select name="" id="">
                    <option value="default">--</option>
                    <option value="Pcs">Pcs</option>
                </select>
            </label>
        </div>
        <div class="flex-col">
            <label for="">Location:
                <input type="text" name="" id="" placeholder="e.g. City Center">
            </label>
        </div>
        <div class="flex-col">
            <label for="">Distance From Location:
                <input type="text" name="" id="" placeholder="e.g. 5km">

            </label>
        </div>
        <div class="flex-col">
            <label for="">Address:
                <textarea id="bbilAdd1" name="bilAdd1" formControlName="partyBillingAddress" rows="4" placeholder="e.g. 123 Main Street, City"></textarea>
            </label>
        </div>
        <div class="flex-col">
            <button class="bg-accent btn-sign-up">Sign Up</button>
        </div>

    </form>
</main>