<div class="container">
    <nav>
        <div class="flex-box-left">
            <div class="flex-box-items ">
                <span (click)="menue()"><i class="fa-solid fa-bars " style="font-size: 2.1rem;"></i></span>
            </div>
        </div>
        <div class="flex-box-middle">
            <div class="flex-box-items ">
                <span (click)="home()"><i class="fa-solid fa-house"></i>&nbsp;ozobooking.com
                </span>
            </div>
        </div>
        <div class="flex-box-right">
            <div class="flex-box-items" style="align-items: flex-end; ">
                <span><i class="fa-solid fa-bell"></i>0</span>
            </div>
            <div class="flex-box-items">
                <span (click)="confirmLogout()" (click)="loginLogout()"><i class="fa-solid fa-user-tie"></i>&nbsp;
                    {{isLoggedIn?'Sign-out':'Sign-in'}}</span>
            </div>
                <div *ngIf="logoutFlag" >
                    <p>Are you sure you want to log out?</p>
                    <button (click)="loginLogout()">Delete</button>
                    <button (click)="logoutFlag = false">Cancel</button>
                </div>

        </div>
    </nav>
    <div class="body-container" id="aside-open-closer-action">
        <aside [class.aside-open]="isMenuOpen" [class.aside-close]="!isMenuOpen">
            <a routerLink="partner-view" [routerLinkActive]="'active-link'"><span
                    (click)="addPartner()">Partners-view</span></a>
        </aside>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>

</div>