main {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  /* align-items: center; */
  text-align: center;
  /* border: red solid 1px; */
}
.flex-left{
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-grow: 0;
flex-shrink: 0;
min-width: 15%;
/* border: red solid 1px; */
margin: 5px;
padding: 5px;
overflow-y: auto;

}
.flex-right{
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-grow: 0;
flex-shrink: 0;
/* border: red solid 1px; */
border: rgb(168, 163, 163) solid 1px;
margin: 5px;
padding: 5px;
overflow-x: hidden;
min-width:80%;

}








.residence-table {
  width: 100%;
}

.add-partner-btn {
  width: 25%;
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 5px 5px 5px;
  padding: 10px;
  background-color: #d3e3fd;
}
.flex-box-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 50% 1 0;
  /* border: red solid 0.5px; */
}
.add-partner {
  justify-content: flex-end;
  align-items: center;
}


.add-partner button {
  width: 15%;
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
}
.add-partner button:hover {
  background-color: rgb(15, 15, 192);
}

.delete-btn {
  color: #ffffff;
  cursor: pointer;
  background-color: #ff0000;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.delete-btn:hover {
  color: #ffffff;
  background-color: #e40909;
  font-size: 1rem;
}
.edit-btn {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #04AA6D;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.edit-btn:hover {
  background-color: #018353;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.td-width{
  width: 100px;
}
.mat-mdc-cell{
  cursor: pointer;
  border-top: solid 0.5px rgb(0, 68, 255);
}