<section>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=4" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=1" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=2" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=3" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=4" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=5" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=6" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=7" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=8" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=9" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="room-card">
        <div class="content">
            <div class="image-column">
                <div class="image-slider">
                    <img src="https://picsum.photos/900/900?random=10" alt="Room Image 1">
                    <!-- <img src="https://picsum.photos/900/900?random=2" alt="Room Image 2"> -->
                    <!-- <img src="https://picsum.photos/900/900?random=3" alt="Room Image 3"> -->
                    <div class="slider-nav">
                        <button onclick="prevSlide()">❮</button>
                        <button onclick="nextSlide()">❯</button>
                    </div>
                </div>
            </div>

            <div class="info-column">
                <div class="info-flex">
                    <div class="info-group">
                        <ul>
                            <li style="font-size: 2rem; color: blue;cursor: pointer;"><strong>Available</strong></li>
                            <li>Room Type: Single</li>
                            <li>Bed Type: Twin</li>
                            <li>Spaceing: 210 sq.ft</li>
                            <li>Policy 1</li>
                            <li>Policy 2</li>
                            <li>Policy 3</li>
                        </ul>
                    </div>

                    <div class="pricing">
                        <ul>
                            <li>
                                <p style="font-size: 1.2rem;">1 night, 2 guest, 1 child</p>
                            </li>
                            <li>
                                <p style="font-size: 2rem;"><strong>₹ 50</strong></p>
                            </li>
                            <li>
                                <p style="font-size: 1.2rem;">+ ₹ 50 taxes and charges</p>
                            </li>
                            <li>
                                <p style="font-size: 2.2rem;"><strong>Total ₹ 100</strong></p>
                            </li>
                            <li>
                                <div class="book-now-content">
                                    <button class="book-btn">Book Now</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="amenities-group">
                    <ul class="amenities-heder">
                        <li>
                            <p><strong>Amenities</strong></p>
                        </li>
                    </ul>
                    <ul class="amenities">
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                        <li>Air Conditioning (AC)</li>
                        <li>Ceiling Fan</li>
                        <li>Wi-Fi</li>
                        <li>Smart TV</li>
                        <li>USB Charging Ports</li>
                        <li>Mini Refrigerator</li>
                        <li>In-Room Safe</li>
                        <li>Hair Dryer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>